* {
    box-sizing: border-box;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .col {
    flex: 1;
    margin: 10px;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 0 6px 0;
    display: inline-block;
  }
 
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }